/* MAIN WEBSITE HOMEPAGE */

/* Color palette url: https://coolors.co/7e8b80-949e95-a9b1aa-bfc5bf-d4d8d5
In order from dark to light. Darkest for link, second darkest for main text, lightest for background. */

body {
  padding: 15px;
  background-color: #d4d8d5;
}

.main-title {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 75pt; */
  text-align: center;
  padding: 31px;
  padding-top: 45px;
  background-color: #949e95;
  color: #d4d8d5;
  a:link, a:visited, a:hover {
  color: #d4d8d5;
  text-decoration:none;
}
}

.main-subtitle {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 50pt; */
  text-align: center;
  padding: 31px;
  padding-bottom: 45px;
  background-color: #949e95;
  color: #d4d8d5;
  a:link, a:visited, a:hover {
  color: #d4d8d5;
  text-decoration:none;
}
}

.main-heading {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50pt;
  text-align: left;
  padding: 15px;
  background-color: #d4d8d5;
  color: #7e8b80;
  a:link, a:visited, a:hover {
  color: #7e8b80;
  text-decoration:none;
}
}

.main-body {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #d4d8d5;
  font-size: 13pt;
  text-align: justify;
  color: #949e95;
  a:link, a:visited, a:hover {
  color: #7e8b80;
  text-decoration: underline;
}
}

.main-footer {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #d4d8d5;
  font-size: 10pt;
  text-align: left;
  color: #a9b1aa;
  a:link, a:visited, a:hover {
  color: #a9b1aa;
  text-decoration: underline;
}
}

.main-clear {
  clear: both;
}

/* AUTHOR SECTION */
/* Color Palette: #1c4587 for darkblue, #ffffff for white, #000000 for black. */

.author-heading {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50pt;
  text-align: right;
  padding: 15px;
  padding-right: 20vw;
  color: #949e95;
  a:link, a:visited, a:hover {
  color: #949e95;
  text-decoration:none;
}
}

.author-body {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
  line-height: 1.5;
  padding: 25px;
  width: 1090px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  a:link, a:visited, a:hover {
  color: #1c4587;
  text-decoration:none;
}
}

/* PROGRAMMER SECTION */
.programmer-heading {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50pt;
  text-align: left;
  padding: 15px;
  padding-right: 20vw;
  color: #949e95;
  a:link, a:visited, a:hover {
  color: #949e95;
  text-decoration:none;
}
}
